@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center;
}

body{
    margin: 0;
     padding: 0;
     text-align: center;
}

/* forming a grid */
#container{
    border: 3px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-rows: repeat(7, 65px);
    grid-template-areas: "digits-input digits-input digits-input digits-input"
    "digits-input digits-input digits-input digits-input"
    "clear clear delete delete"
    "number number number number"
    "number number number number"
    "number number number number"
    "number number number number";
    padding: 20px;
    gap: 10px;
    background-color: #B0E1FF;
    max-width: 500px;
    margin: 25px auto 20px auto;
}

#digits-input{
    grid-area: digits-input;
    border: 2px solid black;
    border-radius: 8px;
    height: 90%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#input{
    font-size: 40px;
    margin: 10px 20px 20px 20px;
}

#input-history{
    font-size: 25px;
    margin: 20px 20px auto 20px;
}

button{
    border: 2px solid black;
    border-radius: 8px;
    background-color: #EFEFEF;
}

#clear-button{
    grid-area: clear;
    background-color: #FFDAF5;
    font-size: 20px;
}

#delete-button{
    grid-area: delete;
    background-color: #E6C6FF;
    font-size: 20px;
}

#number{
    grid-area: number;
}

button:hover{
    background-color: #E2E2E2;
    cursor: pointer;
}

#clear-button:hover{
    background: #ffd5f7;
}

#delete-button:hover{
    background: #e7bfff;
}

footer {
    margin-top: 25px auto auto auto;
}

footer p, footer a {
    text-align: center;
    font-size: 20px;
}

@media (max-width:1060px) {
    *, #input-history, #input{
        font-size: 60px;
    }

    #clear-button, #delete-button{
        font-size: 50px;
        margin-top: 0px;
    }

    #input-history{
        margin-bottom: 30px;
    }
    
    #input{
        margin-bottom: 30px;
    }

    #container{
        grid-template-rows: 50px; /* Learning point : This means top row is 50px in height */
        grid-auto-rows: 150px;    /* The subsequent rows are 150px in height */
        max-width: 800px;
        margin: 25% auto;
    }

    footer p, footer a {
        text-align: center;
        font-size: 40px;
    }

    footer {
        margin: 0px;
    }
}