@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.gamePad{
    border-radius: 25px;
    box-shadow: 5px 10px rgb(138,40,40);
    background-color: rgb(199,56,56);
    width: 500px;
    height: 600px;
}

h1{
    text-align: center;
}

.screen{
    background-color: white;
    width: 80%;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}


.settings{
    padding: 10px 15px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slider{
    width: 200px;
}

.resetButton, .colorButton{
    height: 90px;
    width: 90px;  
    font-size: small;
    font-weight: bold;
    border-radius: 50%;
    border: 20px solid rgb(207,206,200);
    color: black;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 10px;
    position: relative;
}

.colorButton input{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    opacity: 0;
    cursor: pointer;
} 
